<div class="container relative my-12 md:my-24" id="icons_text">
	<div class="grid gap-12 md:gap-12 lg:gap-32 md:grid-cols-2 lg:grid-cols-3">
		{% for item in module.items %}
			<dl>
				<dt>
					<div class="">
						<img  width="50" height="50" src="{{ item.icon|resize(50, 50)}}" alt="{{ item.icon.alt}}"/>
					</div>
					<p class="mt-4 mb-2 text-2xl font-semibold text-neutral-900">{{item.title}}</p>
				</dt>
				<dd class="text-neutral-700">{{item.text }}</dd>
			</dl>
		{% endfor %}
	</div>
</div>

