html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	scroll-behavior: smooth;

	@media (min-width: 2000px) {
		font-size: 17px;
	}
}

p {
	@apply m-0;
}

@import "headings";
