.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: $screen-sm) {
	.container {
		max-width: $screen-sm;
	}
}

@media (min-width: $screen-md) {
	.container {
		max-width: $screen-md;
	}
}

@media (min-width: $screen-lg) {
	.container {
		max-width: $screen-lg;
	}
}

@media (min-width: $screen-xl) {
	.container {
		max-width: $screen-xl;
	}
}

@media (min-width: $screen-2xl) {
	.container {
		max-width: $screen-2xl;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
