.site-header {
	@apply sticky top-0 bg-white shadow-sm h-16 z-50;

	.container {
		@apply flex items-center justify-between h-full;
	}

	.site-title {
		@apply font-extrabold tracking-tight;
	}
}

.main-navigation {
	@apply flex items-center h-full relative;

	.menu-toggle {
		@apply lg:hidden;
	}

	.menu-desktop {
		@apply hidden lg:block;

		ul {
			@apply m-0 p-0 list-none flex space-x-5 h-full;

			li {
				@apply relative flex h-full;

				&:before {
					content: '';
					height: 2px;
					@apply absolute inset-x-0 bottom-0 bg-black opacity-0 transition;
				}

				&.current_page_item {

					&:before {
						@apply opacity-75;
					}

					a {
						@apply font-semibold text-black pointer-events-none;
					}
				}

				a {
					@apply flex items-center h-full text-base font-normal text-gray-600 transition hover:text-gray-900;
				}
			}
		}
	}

	.menu-mobile {
		@apply bg-white block fixed top-16 inset-x-0 bottom-0 py-8 px-4;

		@screen lg {
			display: none !important;
		}

		ul {
			@apply list-none p-0 m-0 flex flex-col divide-y divide-gray-300;

			li {

				a {
					@apply flex py-3 px-0;
				}

				&.current_page_item a {
					@apply font-semibold pointer-events-none;
				}
			}
		}
	}
}

.menu-toggle {
	height: 0.875rem;
	@apply relative w-8 focus:outline-none;

	&:before, &:after {
		content: '';
		height: 2px;
		@apply absolute inset-x-0 bg-black;
	}

	&:before {
		@apply bottom-0;
	}

	&:after {
		@apply top-0;
	}

	&.active {

		&:before {
			transform: rotate(45deg) translate(-0.5rem, -0.25rem);
		}

		&:after {
			transform: rotate(-45deg) translate(-0.25rem, 0);
		}
	}
}
