.site-header {
	position: sticky;
	top: 0;
	background-color: #fff;
	box-shadow: $shadow-sm;
	height: 4rem;
	z-index: 999;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}

	.site-title {
		font-weight: 800;
		letter-spacing: -0.025em;
	}
}

.main-navigation {
	display: flex;
	align-items: center;
	height: 100%;
	position: relative;

	.menu-toggle {

		@media (min-width: $screen-lg) {
			display: none;
		}
	}

	.menu-desktop {
		display: none;

		@media (min-width: $screen-lg) {
			display: block;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			height: 100%;

			& > li + li {
				margin-left: 1.25rem;
			}

			li {
				position: relative;
				height: 100%;
				display: flex;

				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 2px;
					background-color: $color__text;
					opacity: 0;
					transition: $transition;
				}

				&.current_page_item {

					&:before {
						opacity: 0.75;
					}

					a {
						font-weight: 600;
						color: $color__text;
						pointer-events: none;
					}
				}

				a {
					display: flex;
					align-items: center;
					height: 100%;
					font-size: 1rem;
					font-weight: 400;
					color: rgb(123, 123, 132);
					transition: $transition;

					&:hover {
						color: $color__text
					}
				}
			}
		}
	}

	.menu-mobile {
		background-color: #fff;
		display: block;
		position: fixed;
		top: 4rem;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 2rem 1rem;

		@media (min-width: $screen-lg) {
			display: none !important;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: column;

			& > li + li {
				border-top: 1px solid #e8e8e8;
			}

			li {

				a {
					display: flex;
					padding: 0.75rem 0;
				}

				&.current_page_item a {
					font-weight: 600;
					pointer-events: none;
				}
			}
		}


		@media (min-width: $screen-lg) {
			display: none;
		}
	}
}

.menu-toggle {
	position: relative;
	height: 0.875rem;
	width: 2rem;

	&:focus {
		outline: none;
	}

	&:before, &:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 2px;
		background-color: $color__text;
		transition: all ease-in-out 200ms;
	}

	&:before {
		bottom: 0;
	}

	&:after {
		top: 0;
	}

	&.active {

		&:before {
			transform: rotate(45deg) translate(-0.5rem, -0.25rem);
		}

		&:after {
			transform: rotate(-45deg) translate(-0.25rem, 0);
		}
	}
}
