
/* Components/FeatureFlexibleContentExtension/_admin.css */

@import '../../assets/styles/_reset.css';
@import '../../assets/styles/_variables.css';
@import '../../assets/styles/_fonts.css';
@import '../../assets/styles/_base.css';
@import "tailwindcss";
