/* GRID */

@mixin grid-cols($i) {
	display: grid;
	grid-template-columns: repeat($i, minmax(0, 1fr));
}

@mixin grid-cols-x {

	@for $i from 1 through 12 {
		.grid-cols-#{$i} {
			display: grid;
			grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
		}
	}
}

@include grid-cols-x;

@mixin col-span($i) {
	grid-column: span $i / span $i;
}

@mixin col-span-x {

	@for $i from 1 through 12 {
		.col-span-#{$i} {
			grid-column: span #{$i} / span #{$i};
		}
	}
}

@include col-span-x;


/* SPACING */

$sizes: (0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 36, 40, 48, 56, 64, 72, 80, 96);
@each $size in $sizes {
	.mt-#{$size} {
		margin-top: ($size / 4) + rem;
	}
	.mr-#{$size} {
		margin-right: ($size / 4) + rem;
	}
	.ml-#{$size} {
		margin-left: ($size / 4) + rem;
	}
	.mb-#{$size} {
		margin-bottom: ($size / 4) + rem;
	}

	.pt-#{$size} {
		padding-top: ($size / 4) + rem;
	}
	.pr-#{$size} {
		padding-right: ($size / 4) + rem;
	}
	.pl-#{$size} {
		padding-left: ($size / 4) + rem;
	}
	.pb-#{$size} {
		padding-bottom: ($size / 4) + rem;
	}
}
