/* Body
--------------------------------------------- */
body {
	scroll-behavior: smooth;
	@apply text-black;

	&.no-scroll {
		@apply h-screen overflow-hidden;
	}
}

/* Container
--------------------------------------------- */
.container {
	@apply 2xl:px-0 mx-auto;
}

/* Buttons
--------------------------------------------- */
button {
	color: inherit;
	@apply bg-transparent bg-none cursor-pointer p-0 border-none;
}

.button {
	@apply py-3 px-5 font-medium rounded-xl inline-flex items-center justify-center transition;

	&-primary {
		@apply text-white bg-black hover:bg-gray-800;
	}

	&-secondary {
		@apply text-black border border-black bg-white hover:bg-gray-100;
	}
}

/* Footer
--------------------------------------------- */
.site-footer {
	@apply text-center text-white bg-black;
}

/* Links
--------------------------------------------- */
a {
	color: inherit;
	text-decoration: none;
}

.anchor {
	top: calc(-90px - 1rem);
	@apply block relative invisible;
}
