<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
	<div class="px-4 py-16 mx-auto max-w-7xl sm:py-24 sm:px-6 lg:px-8">
		<div class="text-center">
			<h2 class="text-base font-semibold tracking-wide text-indigo-600 uppercase">{{ headline }}</h2>
			<p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">{{ subtitle }}</p>
			<p class="max-w-xl mx-auto mt-5 text-xl text-gray-500">{{ description }}</p>
		</div>
	</div>
</div>
