@import 'tailwindcss';

.container {
  @apply mx-auto w-11/12 px-4 sm:max-w-[640px] md:w-full md:max-w-[768px] lg:max-w-[1000px] xl:max-w-[1236px] 2xl:max-w-[1336px];
}

.menu-desktop {
  @apply flex flex-row space-x-2 text-gray-900 dark:text-white;
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.site .site-main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
