@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
}

@import './styles/_variables.css';
@import './styles/_fonts.css';
@import './css/tailwind.css';

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}


flynt-component {
  display: block;
  position: relative;
}

.pageWrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-block-size: 100%;

  .admin-bar & {
    padding-block-start: var(--wp-admin--admin-bar--height);
  }
}
