:root {
  --breakpoint-mobile-horizontal: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-tablet-horizontal: 1024px;
  --breakpoint-desktop: 1280px;
  
  /**
   * FOUC can be reduced with good matching fallback font.
   * https://meowni.ca/font-style-matcher/ or
   * https://github.com/pixel-point/fontpie
   */
  --font-family-heading: 'Public Sans', 'Trebuchet MS', sans-serif;
  --font-family-text: 'Public Sans', 'Trebuchet MS', sans-serif;
  --font-size-body: 1.125rem;
  --font-size-body-small: 1rem;

  --flow-space: 1.5625rem;
  --column-gap: clamp(2.5rem, 2.5vw + 1.75rem, 3.75rem);
  --content-max-width: 700px;
  --content-max-width-wide: 900px;
  --content-max-width-full: 1200px;
  --box-spacing: clamp(1rem, 2.50vw + 0.25rem, 2.25rem);
  --container-spacing: clamp(1rem, 2.5vw + 0.25rem, 2.25rem);
  --component-spacing: clamp(3rem, 6.5vw + 1.05rem, 6.25rem);
}
