.logo-cloud {
	text-align: center;

	&__title {
	}

	&__grid {
		margin-top: 2rem;
		@include grid-cols(2);
		gap: 2rem;

		@media (min-width: $screen-lg) {
			@include grid-cols(6);
		}

		&-item {
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				height: 3rem;
			}
		}
	}
}
