.flyntComponentSearch {
  display: flex;
  flex-direction: column;
}

.acf-fc-popup.top .flyntComponentSearch {
  flex-direction: column-reverse;
}

.flyntComponentSearch-field[type='text'] {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  border-radius: 0.25rem;
  color: #fff;
  inline-size: calc(100% - 20px);
  margin-block: 5px;
  margin-inline: 10px;
  outline: 0;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
}

.flyntComponentSearch-field[type='text']:focus {
  box-shadow: none;
  outline: 0;
}

.flyntComponentSearch-field[type='text']::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.flyntComponentSearch-noResults {
  padding-block: 5px;
  padding-inline: 10px;
}
